.CardLink h3 {
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .CardLink {
    margin: 0;
    width: 100%;
    filter: none;
  }

  .CardLink h1 {
    font-size: 1.5em;
  }

  .CardLink h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
}
