:root {
  /* color scheme  */
  --blue: #2f4858;
  --red: #fd8b7b;
  --gold: #ffd23f;
  --dark-gold: #ffc00a;
  --white: #dfe0df;
  --black: #080708;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--black);
  filter: brightness(0.8);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}
